@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");

@mixin breakpoint($point) {
  @if $point == tablet {
    @media screen and(min-width: 600px) {
      @content;
    }
  } @else if $point == tablet2 {
    @media screen and (min-width: 750px) {
      @content;
    }
  } @else if $point == desktop {
    @media screen and (min-width: 1000px) and (orientation: landscape) {
      @content;
    }
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  line-height: 1.2em;

  @include breakpoint(tablet) {
    font-size: 2.2rem;
  }
}

//declare Primary variable
$White: hsl(0, 0%, 100%);
$Black: hsl(0, 0%, 0%);
$DarkGray: hsl(0, 0%, 55%);
$VeryDarkGray: hsl(0, 0%, 41%);

body {
  font-size: 15px;
  min-height: 100vh;
  font-family: "Josefin Sans", sans-serif;

  .navMobileMenu {
    position: absolute;
    font-size: 1.2rem;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: $Black;
    color: white;
    transition: 1s;
    width: 0%;
    height: 100vh;
    overflow: hidden;
    z-index: 2;
    right: 0;

    @include breakpoint(desktop) {
      display: none;
    }

    ul {
      li {
        margin: 3em;
      }
    }
  }
  .open {
    width: 100%;
  }

  .hide {
    display: none;
  }

  .visible {
    display: inline;
  }

  &::before {
    position: absolute;
    content: "";
    background-image: url(/images/mobile/image-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -2;

    @include breakpoint(desktop) {
      background-image: url(/images/desktop/image-hero.jpg);
      height: 80vh;
      background-size: cover;
    }
  }

  @include breakpoint(desktop) {
    &::after {
      position: absolute;
      content: "test";
      top: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: 80vh;
      background-color: rgba(0, 0, 0, 0.24);
      z-index: -1;
    }
  }
  .container {
    width: 90%;
    margin: auto;

    header {
      min-height: 100vh;
      width: 100%;

      @include breakpoint(desktop) {
        min-height: 0;
        height: 80vh;
      }

      nav {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 5em;

        @include breakpoint(tablet) {
          height: 7rem;
        }

        .logo img {
          position: relative;
          width: 10em;
          z-index: 3;

          @include breakpoint(tablet) {
            width: 13em;
          }
        }

        .iconMenu {
          @include breakpoint(desktop) {
            display: none;
          }

          img {
            position: relative;
            width: 2em;
            z-index: 4;
          }
        }

        .navDesktop {
          display: none;

          @include breakpoint(desktop) {
            display: flex;

            li {
              font-size: 1.3rem;
              color: white;
              margin-left: 1em;

              &:hover {
                border-bottom: 1px solid white;
              }
            }
          }
        }
      }

      h1 {
        position: relative;
        min-width: 300px;
        max-width: 650px;
        top: 50vh;
        transform: translate(0, -100%);
        text-transform: uppercase;
        color: $White;
        border: 2px solid $White;
        padding: 1em;

        @include breakpoint(tablet) {
          font-size: 2.5rem;
          line-height: 1.2em;
        }

        @include breakpoint(desktop) {
          top: 40vh;
        }
      }
    }

    main {
      .intro {
        position: relative;
        @include breakpoint(desktop) {
          height: 30em;
          margin: 4em 0;
        }

        .imageVr {
          width: 100%;
          height: 18em;
          background-image: url(/images/mobile/image-interactive.jpg);
          background-size: cover;
          background-repeat: no-repeat;
          margin: 2em 0;

          @include breakpoint(tablet) {
            background-size: 80% auto;
            background-position: center;
          }

          @include breakpoint(tablet2) {
            background-position: top center;
          }

          @include breakpoint(desktop) {
            height: 100%;
            width: 60%;
            background-size: cover;
            margin: 0;
            position: absolute;
            background-image: url(/images/desktop/image-interactive.jpg);
          }
        }

        .description {
          @include breakpoint(desktop) {
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 5;
            width: 50%;
            background-color: $White;
            padding: 4em 4em 0 4em;

            h2 {
              text-align: left;
            }
          }
        }

        p {
          text-align: center;
          color: hsl(0, 0%, 41%);
          font-weight: bold;
          line-height: 1.8em;
          margin: 2em 0;

          @include breakpoint(tablet) {
            font-size: 1.2rem;
          }

          @include breakpoint(desktop) {
            text-align: left;
            font-size: 1rem;
            margin: 2em 0 0 0;
          }
        }
      }

      .creations {
        display: grid;
        grid-template-columns: 1fr;
        grid-row: auto auto auto;

        @include breakpoint(desktop) {
          grid-template-areas:
            "left . . right"
            "center center center center";
          align-items: center;
          justify-content: center;
          margin: 5em 0;
        }

        @include breakpoint(desktop) {
          h2 {
            grid-area: left;
            width: max-content;
          }
        }

        .gallery {
          display: grid;
          grid-template-rows: repeat(8, 10em);
          gap: 10px;
          margin: 2em 0 1em;

          @include breakpoint(talbet) {
            grid-template-rows: repeat(8, 15em);
          }

          @include breakpoint(tablet2) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, 200px);
          }

          @include breakpoint(desktop) {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 480px);
            gap: 20px;
            grid-area: center;
          }

          .one {
            background-image: url(/images/mobile/image-deep-earth.jpg);
          }

          .two {
            background-image: url(/images/mobile/image-night-arcade.jpg);
          }

          .three {
            background-image: url(/images/mobile/image-soccer-team.jpg);
          }

          .four {
            background-image: url(/images/mobile/image-grid.jpg);
          }

          .five {
            background-image: url(/images/mobile/image-from-above.jpg);
          }

          .six {
            background-image: url(/images/mobile/image-pocket-borealis.jpg);
          }

          .seven {
            background-image: url(/images/mobile/image-curiosity.jpg);
          }

          .eight {
            background-image: url(/images/mobile/image-fisheye.jpg);
          }

          @include breakpoint(desktop) {
            .one {
              background-image: url(/images/desktop/image-deep-earth.jpg);
            }

            .two {
              background-image: url(/images/desktop/image-night-arcade.jpg);
            }

            .three {
              background-image: url(/images/desktop/image-soccer-team.jpg);
            }

            .four {
              background-image: url(/images/desktop/image-grid.jpg);
            }

            .five {
              background-image: url(/images/desktop/image-from-above.jpg);
            }

            .six {
              background-image: url(/images/desktop/image-pocket-borealis.jpg);
            }

            .seven {
              background-image: url(/images/desktop/image-curiosity.jpg);
            }

            .eight {
              background-image: url(/images/desktop/image-fisheye.jpg);
            }
          }

          .box {
            width: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;

            h2 {
              color: $White;
              font-weight: normal;
              position: absolute;
              bottom: 10px;
              left: 10px;
              text-align: left;
              z-index: 2;

              @include breakpoint(tablet) {
                bottom: 20px;
                left: 20px;
                font-size: 1.8rem;
              }
            }

            &::before {
              position: absolute;
              content: "";
              background-color: rgba(0, 0, 0, 0.342);
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
            }
          }
        }

        span {
          margin: auto;
          font-size: 18px;
          border: 1px solid black;
          font-family: "alata", sans-serif;
          padding: 1em 4em;
          transition: 1s;

          @include breakpoint(desktop) {
            grid-area: right;
          }

          &:hover {
            background-color: $Black;
            color: $White;
          }
        }
      }
    }
  }

  footer {
    margin-top: 2em;
    background-color: $Black;

    @include breakpoint(desktop) {
      display: grid;
      grid-template-columns: 1fr, 2fr 1fr;
      grid-template-rows: auto;
      grid-template-areas:
        "first . second"
        "third . four";
    }

    @include breakpoint(tablet) {
      font-size: 1.2rem;
    }

    .logo {
      display: block;
      width: 10em;
      margin: auto;
      padding: 3em 0 2em;

      @include breakpoint(desktop) {
        grid-area: first;
        margin: 2em auto;
        padding: 0;
      }
    }

    ul.navMenu {
      width: fit-content;
      margin: auto;

      @include breakpoint(desktop) {
        grid-area: third;
        display: flex;
        margin: 0 auto;

        li {
          margin-right: 1em;
        }
      }

      a {
        display: block;
        text-decoration: none;
        color: $White;
        margin-bottom: 2em;
        font-size: 1.1rem;
      }
    }

    ul.social {
      width: fit-content;
      display: flex;
      margin: 1.2em auto;

      @include breakpoint(desktop) {
        grid-area: second;
        margin: 2em auto;
      }

      li {
        padding: 0.8em;

        @include breakpoint(desktop) {
          padding: 0 0.8em;
        }
      }
    }

    span {
      display: block;
      margin: auto;
      color: $White;
      width: fit-content;
      padding-bottom: 5em;

      @include breakpoint(desktop) {
        grid-area: four;
        margin: 0 auto;
        padding-bottom: 0;
      }
    }
  }
}
